Section 6/Inbox+Manager+v3+-+Done.json
{
  "name": "Inbox Manager v3 - Done",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        16
      ],
      "id": "f6da17bd-5b31-49cc-b0db-03586855d7b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -192
      ],
      "id": "d23ed337-a1c6-4491-87bb-7f917ea4ff26",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "q": "label:inbox"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        -96
      ],
      "id": "deb5375f-774f-46c2-9193-28de982e1759",
      "name": "Get many messages",
      "webhookId": "22b28cfa-dace-4120-975d-58136d0cd1d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "lRz9MdRu0NeJbpAt",
          "name": "Dave's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "cleanedText = item.json.text.replace(/<img[^>]*>/gi, '')\n  .replace(/<a\\b[^>]*>(.*?)<\\/a>/gi, '')\n  .replace(/\\[image:[^\\]]*\\]/gi, '')\n  .replace(/<https?:\\/\\/[^>]*>/gi, '');\n\nreturn {\n  json: {\n    id: item.json.id,\n    from: item.json.from.text,\n    to: item.json.to.text,\n    subject: item.json.subject,\n    text: cleanedText\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -96
      ],
      "id": "2c8b648a-c627-47c4-a4e2-f019329a121b",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the email details:\nMessage Id: {{ $json.id }}\nFrom: {{ $json.from }}\nSubject line: {{ $json.subject }}\nEmail Body: {{ $json.text }}\n ",
        "options": {
          "systemMessage": "You are an email categorization assistant. Your task is to analyze emails and apply appropriate labels from the list below to help organize the user's inbox.\n\n### Label definitions:\n- Inquiry  \nSender asks a question or requests information.  \n- Action Required  \nRequests that demand you do something (book, confirm, complete). \n- Follow-up Reminder  \nEmails reminding you of something pending or that you already acted on.  \n- Task  \nContains to-do items or project steps.  \n- Personal  \nFrom friends or family; non-work.  \n- Urgent  \nCritical deadlines, emergencies, time-sensitive.  \n- Job Update  \nDirect messages from recruiters/HR or alerts from job portals (LinkedIn, Naukri, etc.).  \n- Social / Networking  \nNotifications from social sites (GitHub, Twitter, forums) not job-related.  \n- Bank  \nStatements, alerts, transaction notices, fraud warnings from your bank.  \n- Invoice  \nBilling, receipts, payment requests.  \n- Receipt  \nE-commerce order confirmations, tickets, one-off purchase receipts.  \n- Subscription Renewal  \nReminders for software licenses, memberships, domain renewals.  \n- Event Invite  \nCalendar invitations or RSVPs (Google Meet, Zoom, Outlook).  \n- System Notification  \nAlerts from monitoring tools, CI/CD, cloud services, security scanners.  \n- Newsletter  \nSubscription updates, promotions, digests.  \n- Spam / Junk  \nUnwanted bulk mail, phishing attempts, obvious ads.\n- Unknown\nDoes not fit into any category above. \n\n### Tools:\nYou have access to these tools\n1. **Get all labels** - Retrieves available email labels\n2. **Create a missing label** - Add any a missing label to Gmail\n2. **Add label to message** - Applies a label to an email\n3. **Remove message from inbox** - Removes the inbox label from a message\n\n### Instructions:\n- First, always use \"Get all Labels\" to see available labels\n- Analyze email content for: subject, sender, keywords, and context\n- Choose the most relevant label for the email, using only the list above\n- Be consistent in categorization patterns\n- If the label chosen above does not exist in the list of labels from Gmail, use the “Create a missing label” tool to create it\n- If you created a new label, use “Get all labels” again to refresh your list of email labels\n- Apply the label to the mail with the “Add label to message” tool\n- Remove the message from the users in box with the “Remove message from inbox” tool\n\n### Response Format:\n1. Brief summary of email content (1 sentence)\n2. Chosen label with reasoning \n3. Whether the label exists already or has been created\n\nBe efficient and accurate. Focus on helping the user maintain an organized inbox.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -96
      ],
      "id": "db372a61-c497-4611-a34f-c0a178a3de72",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        112
      ],
      "id": "b41e8548-54ca-4ac3-8ded-6db299954ea4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "P933KHBOlI3XDNXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get all existing labels from gmail",
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        608,
        160
      ],
      "id": "bb998cca-cfa4-4b60-b8ce-6c7cab7ab270",
      "name": "Get all labels",
      "webhookId": "6b82b280-3e25-4beb-b564-a93748aaffe1",
      "credentials": {
        "gmailOAuth2": {
          "id": "lRz9MdRu0NeJbpAt",
          "name": "Dave's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The message id of the message.`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `The id of the label to apply to the message, use the ID from the \"get all labels\" tool`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        144
      ],
      "id": "d29e2085-2578-4aee-acc5-20d3d18f7e00",
      "name": "Add label to message",
      "webhookId": "a9f5a08e-5ea5-4969-aa01-edd217f03ed6",
      "credentials": {
        "gmailOAuth2": {
          "id": "lRz9MdRu0NeJbpAt",
          "name": "Dave's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Remove a message from the inbox",
        "operation": "removeLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The message id of the message.`, 'string') }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        624,
        304
      ],
      "id": "9cdaf02e-a849-448e-9992-4342f66fe4c2",
      "name": "Remove message from inbox",
      "webhookId": "e1210b9b-2e94-4afe-b577-4951fd74d904",
      "credentials": {
        "gmailOAuth2": {
          "id": "lRz9MdRu0NeJbpAt",
          "name": "Dave's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('missing_label_name','the name of a label used for categorization that does not already exist in gmail', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        496,
        240
      ],
      "id": "f27fbe5d-d1e7-4210-81de-4e1108ceff94",
      "name": "Create a missing label",
      "webhookId": "fbbbb226-4ac9-4434-9241-ef263e30148c",
      "credentials": {
        "gmailOAuth2": {
          "id": "lRz9MdRu0NeJbpAt",
          "name": "Dave's Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Get many messages": [
      {
        "json": {
          "id": "199be6ddc8fab0b1",
          "threadId": "199be6ddc8fab0b1",
          "labelIds": [
            "INBOX"
          ],
          "sizeEstimate": 71487,
          "headers": {
            "delivered-to": "Delivered-To: aspiretechslns@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 6a1803df08f44-87a06b5a2c2sor19542466d6.3.2025.10.07.04.28.14\r\n        for <aspiretechslns@gmail.com>\r\n        (Google Transport Security);\r\n        Tue, 07 Oct 2025 04:28:15 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:620a:3914:b0:849:a60:79a5 with SMTP id\r\n af79cd13be357-87a34aa3d4amr2151993785a.18.1759834762202; Tue, 07 Oct 2025\r\n 03:59:22 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1759836495; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=deuYihJXri37WdcrpUQQJJctKKL8sZgNno9mDZXcW9RsbjO2UHrKU7gBXdVjV/i9iW\r\n         L64eUwLUOio10z6YoLn2dZWT+39z6mCbX2+iP01DRlS7a798Oq28KpGySL4cyXCgSoL+\r\n         feDz/hrOopzcwqkWFE4fIG8FywMyEaqDOkYayIqW6kLK4dORv41qcn13cKqStcmIIU20\r\n         gUSif7V+SpZL2RtSfmxusaYgGzhuI3kea6tQgFthzxBYnHTGIf5o6dMnXtIDAkEygKkj\r\n         LyPTVCL3kAKkZCIhQsCAebdo7lfA5BlzU//A63YtT97yzoMFWhzq5aEpjhJpQqQPUErD\r\n         v43A==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:in-reply-to:references:mime-version;\r\n        bh=bnwmWbTO4uLyDX5ANQl2JCY6h0x25w1Hv08x0GohELU=;\r\n        fh=M7rvrJFZbso/N0lrWLzbmf5+8xP5N/dp1A/jepwUSVU=;\r\n        b=JigxoDWzfalCt8yB8tLQdNfxeyK4PtBNNlz+eBzY43hkZgIZf9KqloL+O9EojUbwAM\r\n         z0fd2AOV8qOxaqn1+AX8DdUWJyV8CtK1ZKlbBZVXTbjd5Air9WPkhmKFzOWQKQQManzO\r\n         N7nkOZaF7ZQZV1Nd0gkkR3NSX0pN/BFbWWUFPNITNVA3BWFyOV5ybt8bFqOc2NBhtfMd\r\n         9SJ0GCNNtXJOiaStNwOER8cqapTaj1phcA5MTeinp7PxZneSJXftMEF6XVhuaw9MnYvJ\r\n         RNc8LC9ij60TGzhY2ZQ+X/XV8uQTeep3r03G+/AtE3BPZkGQNphiBND553conBgUkw+R\r\n         d+Nw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       spf=pass (google.com: domain of dave.j.pedley@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=dave.j.pedley@gmail.com;\r\n       dmarc=fail (p=NONE sp=NONE dis=NONE) header.from=hotmail.com",
            "return-path": "Return-Path: <dave.j.pedley@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of dave.j.pedley@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       spf=pass (google.com: domain of dave.j.pedley@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=dave.j.pedley@gmail.com;\r\n       dmarc=fail (p=NONE sp=NONE dis=NONE) header.from=hotmail.com",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1759836494; x=1760441294;\r\n        h=to:subject:message-id:date:from:in-reply-to:references:mime-version\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=bnwmWbTO4uLyDX5ANQl2JCY6h0x25w1Hv08x0GohELU=;\r\n        b=YOWlRSsbS6oex6G1ZnthNvaW25pm/DBmfW6OhW5+beVCyKnZZkxZUwSS0ggyV1FjVL\r\n         6w+qIF56h26CZc8zgV1RVM1wmCGOTYm8eX6WgABeOBY569h1//W0U6+VGyJrfOMFxbO5\r\n         Kjv1kucgSRfnUPjY64HSgPVz14ALAjbv7bzxF//ugQPRocKK3SizX5UnO1Q9SrxNZoYn\r\n         XOeTOhzrEP5hj8cR+rkkQC5ywdmGYlkeU+RS9bnG667i3/f6s3HfdVI3FjF0KIVcy5Zr\r\n         Exk/DZw6lnZlhgoSVYeopS8APfJxjSoH76mp8z2WA0QZd/ruoFF1dY78Xj084KB3NFUF\r\n         8haQ==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YwfVmtDg32cKUYUfF1QKUHb2SHO/5fWd16HzdH6gAE5EPaFYvTH\r\n\tsDTrXzTzAvZlchjknpIiZO21yPNBPSxQK6ld5R06INkMy+pcGTjE9rrPgQnDGnhDonn/73dgqRv\r\n\t8TUgJg7q19InKCbcCTEH+ln4ACHBH+TE8OLt3/w==",
            "x-gm-gg": "X-Gm-Gg: ASbGncsPWZhdUJPYWz5M+gGwhBONNvDDke+d6WmKIrnr+de9eM1Yj/vZ6RJ6XeoR8KV\r\n\t+tsUVr48Trj9lJryUPO8gFeTlXU4xFzVb870Ux3ik+2dfI/V5VqI3oEz2FVX6L/oCLkVwjT35ZG\r\n\tn66ogyIQ6Y83bmgmT0Kuem3sKMMx/eKVjFA0cndFYsx8ywxx0DDAdB0P8i4Mcc4nYqWb3bhMQgD\r\n\thccoLSlWcyxDeY2hxWeMS/o4iqpNeo=",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFXTD1ELhMb3xVZRnZND4zEZjl9glWO3/LZbWF7gW7Q+ChDhwNf8+eUx/IYSraymQiSBKHWsowFnl6e0/nA3QA=",
            "mime-version": "MIME-Version: 1.0",
            "references": "References: <k4__fCiFQlWz2oEQlr5OIA@geopod-ismtpd-6>",
            "in-reply-to": "In-Reply-To: <k4__fCiFQlWz2oEQlr5OIA@geopod-ismtpd-6>",
            "from": "From: David Pedley <dj_pedley@hotmail.com>",
            "date": "Date: Tue, 7 Oct 2025 11:58:46 +0100",
            "x-gm-features": "X-Gm-Features: AS18NWABsrw0WQVnudfW6Mjlf-wCnuHXQSSmWFNdMDZCy7UhbXdhdaXm9cMyD2s",
            "message-id": "Message-ID: <CAFBfRuKGt13Xp-QvOf1ZYhFQ6mh+qqSSjFjT2x4xB9dypT2nWA@mail.gmail.com>",
            "subject": "Subject: Fwd: New match: Senior Front-End Software Engineer at Circle",
            "to": "To: \"aspiretechslns@gmail.com\" <aspiretechslns@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000dd559e06408f7585\""
          },
          "html": "<div dir=\"ltr\"><div class=\"gmail_quote gmail_quote_container\"><br><div class=\"msg-1246075162155448508\"><u></u>\n\n  \n    \n    \n    \n    \n    \n    \n    \n    \n  \n  <div style=\"width:100%;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;padding:0;Margin:0\">\n    <div style=\"background-color:#ffcd00\">\n      \n      <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#ffcd00\">\n        <tbody><tr style=\"border-collapse:collapse\">\n          <td class=\"m_-1246075162155448508es-m-margin\" valign=\"top\" style=\"padding:0;Margin:0\">\n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-header\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-header-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px\">\n                    <tbody><tr style=\"border-collapse:collapse\">\n                      <td align=\"left\" style=\"Margin:0;padding-top:20px;padding-bottom:20px;padding-left:40px;padding-right:40px\">\n                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                          <tbody><tr style=\"border-collapse:collapse\">\n                            <td align=\"left\" style=\"padding:0;Margin:0;width:520px\">\n                              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                <tbody><tr style=\"border-collapse:collapse\">\n                                  <td align=\"center\" style=\"padding:0;Margin:0;padding-left:40px;padding-right:40px;font-size:0px\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4xIUmcf5G3EJtaFW4zoCMRSDEqt9BTCcgsx9QJ4jPT5PXYV21Rv0i2mx8cQav1uiyuuFYY8TTgtfNlL6BWMwEkuU1eteKHWbyIo5TpMrrgw_JPL_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMCLczuZl68MM6wlg4rqbsQdGGzWgyKBAwvjia-2FfhW-2F8Uj-2F-2FLwMqrR6TTnP-2BkY7OEs-2BdyQdc9wrwWa77bDp2c-2B9YsiJENoidOSbcvCBAv5qqU1SiHrmv08FZqxZun4kIMzJxGH4p3TkuVvucHMZVnwenaI77NqI5sbhTDqSm660ydugyLXtSS8QU3j0Bq5iyqyTZ5nBQcqZUpkklHuipuO6-2FHPj7rNqxg0cYN7HlpAoHcfKPBdKj8949yl6OvnBRRyzWm8Y0O3j2n99OlV6JEBEN\" style=\"text-decoration:underline;color:#057aa3;font-size:14px\" target=\"_blank\"><img class=\"m_-1246075162155448508adapt-img\" alt=\"Welcome to the Jungle logo\" style=\"display:block;border:0;outline:none;text-decoration:none\" title=\"Welcome to the Jungle logo\" height=\"40\" width=\"157\">\n</a></td>\n                                </tr>\n                              </tbody></table>\n                            </td>\n                          </tr>\n                        </tbody></table>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n            </tbody></table>\n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <table style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;border-radius:12px 12px 0px 0px;width:600px\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\">\n                    <tbody><tr style=\"border-collapse:collapse\">\n                      <td align=\"left\" style=\"Margin:0;padding-bottom:5px;padding-top:20px;padding-left:20px;padding-right:20px;border-radius:8px;border-collapse:separate;background-color:#ffffff\" bgcolor=\"#ffffff\">\n                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                          <tbody><tr style=\"border-collapse:collapse\">\n                            <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                <tbody><tr style=\"border-collapse:collapse\">\n                                  <td align=\"left\" class=\"m_-1246075162155448508es-m-p0r m_-1246075162155448508es-m-p0l\" style=\"padding:0;Margin:0;padding-left:30px;padding-right:30px\">\n                                    <h1 style=\"Margin:0;line-height:29px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:24px;font-style:normal;font-weight:normal;color:#000000;text-align:center\">\n                                      \n                                      There are new jobs matching your search preferences, Dave!\n                                      \n                                    </h1>\n                                  </td>\n                                </tr>\n                              </tbody></table>\n                            </td>\n                          </tr>\n                        </tbody></table>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n            </tbody></table>\n            \n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <a style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none\" href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfA8PyZwlc-2BG05C7LPfGz2cLAq8PGkUUC19iny79ZV8fke9Ew-2BCMgSc8lR3qXb7-2FsMsylHRNK2w49fyyJNOxxB-2Bb0N-2BoqZNWFECv6i3taqSkol4fLLf6Yd0vwPBoHjN7GwrUQV6neIWX-2B5or1PaajjPTQ-3D-3DyTzW_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD-2FPhL61ewteUnQBUyLscBqem-2B9n8-2Fch9d2x1nZXfJ0TOVFfAa5plf-2BCNNZDsgxXglXM5xQz8PEzZhJS1f0mDdfELii-2Bp9rHb32zJlMOnE0nyt8cF2CNSJO3ZnriqW-2Fw0M1AZ5UnGY9IKOImZ27bbs44051-2BHIY64UyFtjgVYT0HG61aR1lV-2FebQb1g8cZIOV2si6m6hLHXvFin3ZgD2lFU9A9jq0W5hSP5E-2BpjEGwWyQogN8KS8gEIFESYHWyVeHQtdPKcJDgbd6-2BdXLP7G-2FfL\" target=\"_blank\">\n                    <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px\">\n                      <tbody class=\"m_-1246075162155448508greyHover\">\n                        <tr style=\"border-collapse:collapse\">\n                          <td class=\"m_-1246075162155448508es-m-p20r m_-1246075162155448508es-m-p20l\" align=\"left\" style=\"padding:0;Margin:0;padding-top:15px;padding-left:40px;padding-right:40px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;width:520px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-left\" align=\"left\" style=\"border-collapse:collapse;border-spacing:0px;float:left\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:48px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"center\" class=\"m_-1246075162155448508es-m-txt-l\" style=\"padding:0;Margin:0;font-size:0px\">\n                                              \n                                              <img width=\"48\" style=\"max-width:48px;height:auto;padding:0;border-radius:8px;display:block\" alt=\"Circle logo\">\n                                              \n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                      <td style=\"padding:0;Margin:0;width:10px\"></td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-right\" align=\"right\" style=\"border-collapse:collapse;border-spacing:0px;float:right\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:462px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"left\" class=\"m_-1246075162155448508es-m-p10l\" style=\"padding:0;Margin:0\">\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\"><strong>Circle</strong>\n                                              </p>\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">Community platform for creators &amp; brands</p>\n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        <tr style=\"border-collapse:collapse\">\n                          <td align=\"left\" style=\"padding:0;Margin:0;padding-top:16px;padding-left:20px;padding-right:20px;padding-bottom:16px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" class=\"m_-1246075162155448508es-m-p0l\" style=\"padding:0;Margin:0;padding-bottom:0px;padding-left:20px\">\n                                        <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">\n                                          <strong>\n                                          Senior Front-End Software Engineer\n                                          \n                                          (Design Systems)\n                                          \n                                          </strong><br><em style=\"text-decoration:none\">\n                                          \n                                          Salary: $130-140K<br>\n                                          \n                                          \n                                          \n                                          Remote (within the UK)\n                                          \n                                          </em>\n                                        </p>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        \n                        <tr style=\"border-collapse:collapse\">\n                          <td align=\"left\" style=\"padding:0;Margin:0;padding-left:20px;padding-right:20px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"center\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0\">\n                                        <table border=\"0\" width=\"93%\" height=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td style=\"padding:0;Margin:0;border-bottom:1px solid #cccccc;background:none;height:1px;width:100%;margin:0px\"></td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        \n                      </tbody>\n                    </table>\n                  </a>\n                </td>\n              </tr>\n            </tbody></table>\n            \n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <a style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none\" href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6vEAxVBpSI417LDqknywFkjBmU6tevPSuPAjI7bp08usM4r0AdbX81whtV46ucXlVcFjRg46ryYZLmbwesBsRa-2BggIrdIq9aUJt8krc17GO749VcMhcQgaF2E9-2Fo0GKyXkY25UxymMEK7ImXDNP-2BrsznXXMUCXDzszUFNFWOx1olotJ-2FcPbYNnpedNgfQ-2FH3EwqN2bxSDo73pfn-2F10X9dmVx8Au2-2FxNAg39uyTvn2Av3zY0vZ7iQT629Gme6xbCGWBGUpN6m4pD9ONra2Qul9e3fUphDdemiy7H-2B7XMlJ-2BekofULJiyDY0dQejFE9hOpa2iymZazGKVMtmCdnkGAXy6u4D1w-2Fk2AiMNjLcTRym8NlKG9TXLAA3WX0aefhNZN9x1TNGfpNuaB1EfPhxi-2FjeBVawDWxpNvXtDiNJmOZCEKbqGJFhUjtmOzI05P0FBZqnsDYL1WRsesBr4-2F4uFFyPsRxW-2BYMmj7ewSbJicOHYVQELuY3L82OxqjaHrM15wO71rhyG79Jkz4kLkFGBNtZtQOHg4aWXU15cBmp0pg15-2FFdu5uhpg3jEW-2FR-2Bh2eDz-2BhHLwXahbTc0As6JXwjydqV8iqCL7MUCxOTYFGrcmzho-2FA-3D-3DdaAZ_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMAjrQ-2F-2BTCJhuzZVzC9kQ84pwrq-2Fh1mFk8eDChBS5iSoVvfVdcNcK-2BJfIATLh6rTQFj7lyRrKZ4n7IMhUTfHyBlh46JzRT9G0ohi-2BqsEghNDYyY9IvKGMVNmlDdFdtB2ce8OP6aO8bXJiQTLSkU7cOig-2FHNX6VkMEe1De7RGIlb-2F7nK9PNpau40eJeC9x-2BI64t2u7nL8vSaRXBtPYL-2FbiuqdXgj9Cpe-2FsJUpJq2TvVrX9NTSrhTpkFjj0b0ce-2BeQWwSkj80QXIMNpN3QIiFsMYOr\" target=\"_blank\">\n                    <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px\">\n                      <tbody class=\"m_-1246075162155448508greyHover\">\n                        <tr style=\"border-collapse:collapse\">\n                          <td class=\"m_-1246075162155448508es-m-p20r m_-1246075162155448508es-m-p20l\" align=\"left\" style=\"padding:0;Margin:0;padding-top:15px;padding-left:40px;padding-right:40px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;width:520px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-left\" align=\"left\" style=\"border-collapse:collapse;border-spacing:0px;float:left\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:48px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"center\" class=\"m_-1246075162155448508es-m-txt-l\" style=\"padding:0;Margin:0;font-size:0px\">\n                                              \n                                              <img width=\"48\" style=\"max-width:48px;height:auto;padding:0;border-radius:8px;display:block\" alt=\"Preservica logo\">\n                                              \n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                      <td style=\"padding:0;Margin:0;width:10px\"></td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-right\" align=\"right\" style=\"border-collapse:collapse;border-spacing:0px;float:right\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:462px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"left\" class=\"m_-1246075162155448508es-m-p10l\" style=\"padding:0;Margin:0\">\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\"><strong>Preservica</strong>\n                                              </p>\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">World Leaders in Active Digital Preservation - archival solutions</p>\n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        <tr style=\"border-collapse:collapse\">\n                          <td align=\"left\" style=\"padding:0;Margin:0;padding-top:16px;padding-left:20px;padding-right:20px;padding-bottom:16px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" class=\"m_-1246075162155448508es-m-p0l\" style=\"padding:0;Margin:0;padding-bottom:0px;padding-left:20px\">\n                                        <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">\n                                          <strong>\n                                          Senior Front End Software Engineer\n                                          \n                                          </strong><br><em style=\"text-decoration:none\">\n                                          \n                                          Salary: £60-70K<br>\n                                          \n                                          \n                                          \n                                          Remote (within the UK)\n                                          \n                                          </em>\n                                        </p>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        \n                        <tr style=\"border-collapse:collapse\">\n                          <td align=\"left\" style=\"padding:0;Margin:0;padding-left:20px;padding-right:20px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"center\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0\">\n                                        <table border=\"0\" width=\"93%\" height=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td style=\"padding:0;Margin:0;border-bottom:1px solid #cccccc;background:none;height:1px;width:100%;margin:0px\"></td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        \n                      </tbody>\n                    </table>\n                  </a>\n                </td>\n              </tr>\n            </tbody></table>\n            \n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <a style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none\" href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6teJGDqYzKRReVxzYJC26N90MtzNzrnAURwvC9nwQJ-2FpY7wK5NWNPq-2Bdw6FnrT8ae11XneywJn2KkFGy1dtHTlzQ0EX8MrjkcWOTNo8FBkDMMfyuCcrZjziPnbuJQ5SKeRhwc3HwDDj112shk1Tv3yNloU6e2vBrhVi3f48wfAXd3a5Oox4aJ7FgwW-2BK-2F8QLXFAouWcuSLIe3a99zOfXTxIvxAVDAuicaQUu6KiMzh5kbHNiz5WJauPAVuJKGdWEdf9LhTzSo-2BPnyeJPXHaUAIwxdWYdfFSMGbKzsGXkzGBlblrZqy9QFL8pcTywisvU3AgGOSDl5YgOz4euPXvEZZXGD88hOJ9SSXobo95qy6V1XANEIDMReM9Sv6pO0VfC-2FgybnN8-2B0eKKz3tENGb9eEnJCmHXsS0QKR3AkhqI1odB27-2F8aGtav32P-2Fgfx2swUfQHWuxwv-2B1ZYS1w3SOSwgcZaa15yf-2FNP-2FDfjx0K1AFLZzxlhIXDJifdsGeo7Ul4wMNCY8udXZOKKz-2FWXKzb4wXuyWOB7i1W-2FSQCHan6PVKkJjV-2Bk-2Bqp491uxYkpXjCr49ItUlh5nOxmQQn9Olvrh1T7x00qwOO-2FfqrXDd4TnX0VHA-3D-3Dqs4z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDuYK-2FNzy6Z8xIItiMT9ju4INi8zhsa0hEp0kZ-2FJ3NgJs1-2Fg0Nj8jhL9X7OXHKHoJNTaHNon-2BG0G8j2CvjIuzCeoc-2F0ON2gOnxKS9D8a32cQNGYOlMGGrSUMdMtYO9MliEZn2e4r1lkeLL0GZjmd1p8dENbNuPa-2BYh3mNdsu1dYeo1jZC6m-2FX7YmpQoG-2FIvf2ujDgj23OBPyh7wrxkBwLRA40us-2Fif4nB4-2FRuZsL5u5nzaibq2emG1YSsWUR5FtYKTeJbsCCIx9IflcbO0jWogz\" target=\"_blank\">\n                    <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px\">\n                      <tbody class=\"m_-1246075162155448508greyHover\">\n                        <tr style=\"border-collapse:collapse\">\n                          <td class=\"m_-1246075162155448508es-m-p20r m_-1246075162155448508es-m-p20l\" align=\"left\" style=\"padding:0;Margin:0;padding-top:15px;padding-left:40px;padding-right:40px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;width:520px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-left\" align=\"left\" style=\"border-collapse:collapse;border-spacing:0px;float:left\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:48px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"center\" class=\"m_-1246075162155448508es-m-txt-l\" style=\"padding:0;Margin:0;font-size:0px\">\n                                              \n                                              <img width=\"48\" style=\"max-width:48px;height:auto;padding:0;border-radius:8px;display:block\" alt=\"Typeform logo\">\n                                              \n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                      <td style=\"padding:0;Margin:0;width:10px\"></td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                                <td valign=\"top\" style=\"padding:0;Margin:0\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-right\" align=\"right\" style=\"border-collapse:collapse;border-spacing:0px;float:right\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" style=\"padding:0;Margin:0;width:462px\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                          <tbody><tr style=\"border-collapse:collapse\">\n                                            <td align=\"left\" class=\"m_-1246075162155448508es-m-p10l\" style=\"padding:0;Margin:0\">\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\"><strong>Typeform</strong>\n                                              </p>\n                                              <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">People-friendly forms and surveys</p>\n                                            </td>\n                                          </tr>\n                                        </tbody></table>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        <tr style=\"border-collapse:collapse\">\n                          <td align=\"left\" style=\"padding:0;Margin:0;padding-top:16px;padding-left:20px;padding-right:20px;padding-bottom:16px\">\n                            <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                              <tbody><tr style=\"border-collapse:collapse\">\n                                <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                                  <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                    <tbody><tr style=\"border-collapse:collapse\">\n                                      <td align=\"left\" class=\"m_-1246075162155448508es-m-p0l\" style=\"padding:0;Margin:0;padding-bottom:0px;padding-left:20px\">\n                                        <p style=\"Margin:0;font-size:16px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:24px;color:#000000\">\n                                          <strong>\n                                          Fullstack Engineer\n                                          \n                                          </strong><br><em style=\"text-decoration:none\">\n                                          \n                                          \n                                          \n                                          Remote (within the UK)\n                                          \n                                          </em>\n                                        </p>\n                                      </td>\n                                    </tr>\n                                  </tbody></table>\n                                </td>\n                              </tr>\n                            </tbody></table>\n                          </td>\n                        </tr>\n                        \n                      </tbody>\n                    </table>\n                  </a>\n                </td>\n              </tr>\n            </tbody></table>\n            \n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px\">\n                    <tbody><tr style=\"border-collapse:collapse\">\n                      <td align=\"left\" style=\"padding:0;Margin:0;padding-left:20px;padding-right:20px\">\n                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                          <tbody><tr style=\"border-collapse:collapse\">\n                            <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                <tbody><tr style=\"border-collapse:collapse\">\n                                  <td align=\"center\" style=\"padding:0;Margin:0;font-size:0px\">\n                                    <table border=\"0\" width=\"100%\" height=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                      <tbody><tr style=\"border-collapse:collapse\">\n                                        <td style=\"padding:0;Margin:0;border-bottom:2px solid #eeeeee;background:none;height:1px;width:100%;margin:0px\"></td>\n                                      </tr>\n                                    </tbody></table>\n                                  </td>\n                                </tr>\n                              </tbody></table>\n                            </td>\n                          </tr>\n                        </tbody></table>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n            </tbody></table>\n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <table class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px\">\n                    <tbody><tr style=\"border-collapse:collapse\">\n                      <td align=\"left\" bgcolor=\"#ffffff\" style=\"padding:20px;Margin:0;background-color:#ffffff;border-radius:0px 0px 8px 8px\">\n                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                          <tbody><tr style=\"border-collapse:collapse\">\n                            <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:560px\">\n                              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                <tbody><tr style=\"border-collapse:collapse\">\n                                  <td align=\"center\" style=\"padding:0;Margin:0\"><span class=\"m_-1246075162155448508es-button-border-5 m_-1246075162155448508es-button-border\" style=\"border-style:solid;border-color:#057aa3;background:#ffcd00;border-width:0px;display:inline-block;border-radius:40px;width:auto\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfArg3Yx2Ha0t5g20ILAto7tjE-2F8hxojXR3ZCZ4XBBTM6g4ZYNz9QXk0tB67HB9wRPUe6GrazHQGQ1t7UqjNuLgBCz2GhfoqGk8LgxZz0lydx5B0ni-2B-2FVOioFL9PRKvguJLi7cI_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD1Vytj7Vi1-2B0x-2FVS5oqOAeqPUkx85UxArim5vVA7wmp-2B5lqH-2FAAL22YKdsrld0r7UWuJae2J3kIBoZARljdVFp1ftTl9uE5xS3-2Bo22YoZldzEcdi-2BXqngu8MEvk6lQhjdzbqTOIoRgmJZGr1Kc-2BDpo98Y9hrSH3IlqcksGXrW-2FlmiZ2WkLc2wW-2FwLsBLuEs1W-2B1-2Fdo7iPlsEgbXQ-2FLGIa1NDPjo25m-2FbMo1bbjjmjzXSZJgV5jKB5rOzxo1wmoxmN86952mM97Le51RR-2F7TIcd\" class=\"m_-1246075162155448508es-button m_-1246075162155448508es-button-4\" style=\"text-decoration:none;color:#000000;font-size:16px;border-style:solid;border-color:#ffcd00;border-width:10px 20px 10px 20px;display:inline-block;background:#ffcd00;border-radius:40px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center\" target=\"_blank\">See all top matches</a></span></td>\n                                </tr>\n                              </tbody></table>\n                            </td>\n                          </tr>\n                        </tbody></table>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n            </tbody></table>\n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-content\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%\">\n              <tbody><tr style=\"border-collapse:collapse\">\n                <td align=\"center\" style=\"padding:0;Margin:0\">\n                  <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:420px\">\n                    <tbody><tr style=\"border-collapse:collapse\">\n                      <td align=\"left\" bgcolor=\"#FFCD00\" style=\"Margin:0;padding-bottom:10px;padding-top:40px;padding-left:40px;padding-right:40px;background-color:#ffcd00\">\n                        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;border-spacing:0px\">\n                          <tbody><tr style=\"border-collapse:collapse\">\n                            <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n                              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:separate;border-spacing:0px;border-radius:4px\" role=\"presentation\">\n                                <tbody><tr style=\"border-collapse:collapse\">\n                                  <td align=\"center\" style=\"padding:0;Margin:0;padding-bottom:5px\">\n                                    <p style=\"Margin:0;font-size:14px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:21px;color:#000000\">Receive these notifications:</p>\n                                  </td>\n                                </tr>\n                                \n                                <tr style=\"border-collapse:collapse\">\n                                  <td style=\"padding:0;Margin:0\">\n                                    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"m_-1246075162155448508es-menu\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n                                      <tbody><tr style=\"border-collapse:collapse\">\n                                        <td align=\"center\" valign=\"top\" width=\"33.33%\" bgcolor=\"transparent\" style=\"Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0\" id=\"m_-1246075162155448508esd-menu-id-0\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgH7r3iR6b-2BoDZ0JlwqF3YX3k-2FMdtkpHhgw1p5JGNsy7jSD8Zd-2FwTOKN-2F-2FCuUPBYbbrm5GEybO6Ise-2FOjZqrKacUyobavPCAyCwHE9XMpnaDftO8z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMBRVmNpm6B2B8rCdvnsuX4XFt3uIilPIABwIwjohbcUGDTGXyB0Cl-2BxrXI3RTKuCjBaxkQ1YAWhJx7FvHnpJa4IYW0aouImT0nw5-2FHhxECEJrJ42SxXbtMiOAj24nW7PMTZZJyPgfM-2FPXDPj8NXJ3SHWoq64KF6p9YLOpPjzlewUsAYwW9C2qQNOfiWO4ff9HKsMpCygnkCxe-2BIuqrRyQlcqS9z0ugMlxNFO9EFFmgoG04dqWI3EvjaibITgYkwkJ-2F5w94IE9N8ZWpzgikf9vKo\" style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000\" target=\"_blank\">Never</a></td>\n                                        <td align=\"center\" valign=\"top\" width=\"33.33%\" bgcolor=\"#ffffff\" style=\"border-radius:12px;Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0\" id=\"m_-1246075162155448508esd-menu-id-1\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgLzcarv24oBpdV2ujNBhjEJG68g17-2B4TtU6pgs4hL04FejGq9WqcUbSpLUE-2F84wvhddAjl18MbzaCV61mdANIMamwcSC4zYa-2FYVKeILpNCfK4Vze_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDpWSKiMg1qedqlnujqXv5egkzAs3Kszxpg-2FFCJk9m01xgnYPBLNYgoB85VTZZ3gwhjeT9Pu2-2Fv2RIg0ZzsyhS1FpcZDkuKO8C5VYxZMyGwjeTCqXqHOKX6EmjKAtwtYOVn-2BzmjRoi9MswAjY8zcc6-2BmOZVtFJL8SvSXvaa9Vh3tJ903EFyo1l9LUgxOkcmaS8sBxpw-2FNsZRmBm-2FfbHHXBo-2FyMpzlIypJjCmNPrTRTlDo28E6lR-2FdDM3CoULJM4lUeA3LYJm5AS7BBX4Mj3Us9y\" style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000\" target=\"_blank\">Weekly</a></td>\n                                        <td align=\"center\" valign=\"top\" width=\"33.33%\" bgcolor=\"transparent\" style=\"Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0;margin:3px;border-radius:4px;border-collapse:separate\" id=\"m_-1246075162155448508esd-menu-id-2\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgPtHW5fsOeXo0uE-2BLzKRj-2BsQCgRg3wNUlJMAyliyX1HGfxiGf82LZFOgxHPSp-2FvGzZ6nVqX0X7vJAg-2BRwwBru8FxOVv0M67AlzU8TB6ccCsqFrfE_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMC8SQMTaW5jX8FIZtLcaYTtlV0s417ydpgp-2BIXuQCjUhGzIwPy5mMceA-2BfacC22s-2BVRFUsU9ICw2Ru3vo4aOfxtsTAKv5bt01mZqUSHiDjSLkiUZUH-2BbW2WMbz-2B8Vhzi-2BJQKmoUA2ZvYohgzWbJOo3pQETwYc7WLmhShQXI6Gp1M-2Bmvlp60sPNPzNMRiyGIS1ReI-2Bo-2FcYD-2Bxz-2FvK4ZnP0Uqp-2FhOZlVPnDFoqE72fuv5VHrMmrlvmLEgxqbkNG66TGkI-2FTAyGCG671-2BJJUSb0Cvo\" style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000\" target=\"_blank\">Daily</a></td>\n                                      </tr>\n                                    </tbody></table>\n                                  </td>\n                                </tr>\n                                \n                                <tr style=\"border-collapse:collapse\">\n                                  <td align=\"center\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:10px\"><span class=\"m_-1246075162155448508es-button-border m_-1246075162155448508es-button-border-2\" style=\"border-style:solid;border-color:#545fec;background:#ffffff;border-width:0px;display:inline-block;border-radius:12px;width:auto\"><a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ0gNmZYHQcRmUO7GZJMDNFYob4FZurmEOR6ZtCzhwIsm51CL55GlMmeJgAfjI3XBiqgzTAe-2B-2B50wBmywI0-2B3nirWn3Hx2eo53BCkEqMdDz8JNeaH_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDIqMMWR1B2O8S1pRpouFYNMjjca-2BzST8tRkesaSmd0FRlxTnphYuskDErZijANF1ecH8Z-2BFY2T99TgkblWHfL4poU9LkEScVuwl9kMMDcDOwWf0xlCC6glZJ9gYjkjdIaJFMX-2FvyDbkIjnBEXegHkrHzPi-2F04OYWWej-2Fc2Dz45ICjmIl9e7PiGZPgMdLiTRyYh17zXuQT6AkYWJ6LWrS52fmUrX-2FS-2B0F0MFxsWmogQE0ZXJhxX4Xz40tIgp-2F0Rn1jVdFJ2EAJoiVs5lcSIJIsU\" class=\"m_-1246075162155448508es-button m_-1246075162155448508es-button-1\" style=\"text-decoration:none;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:14px;color:#000000;border-style:solid;border-color:#ffffff;border-width:10px 93px;display:inline-block;background:#ffffff;border-radius:12px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center\" target=\"_blank\">Change email frequency</a></span></td>\n                                </tr>\n                              </tbody></table>\n                            </td>\n                          </tr>\n                        </tbody></table>\n                      </td>\n                    </tr>\n                  </tbody></table>\n                </td>\n              </tr>\n            </tbody></table>\n            <table cellpadding=\"0\" cellspacing=\"0\" class=\"m_-1246075162155448508es-footer\" align=\"center\" style=\"border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top\">\n  <tbody><tr style=\"border-collapse:collapse\">\n    <td align=\"center\" style=\"padding:0;Margin:0\">\n    <table bgcolor=\"#ffffff\" class=\"m_-1246075162155448508es-footer-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px\">\n      <tbody><tr style=\"border-collapse:collapse\">\n        <td align=\"left\" bgcolor=\"#FFCD00\" style=\"padding:10px;Margin:0;background-color:#ffcd00\">\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;border-spacing:0px\">\n          <tbody><tr style=\"border-collapse:collapse\">\n            <td valign=\"top\" align=\"center\" style=\"padding:0;Margin:0;width:580px\">\n            <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px\">\n              <tbody><tr style=\"border-collapse:collapse\">\n              <td class=\"m_-1246075162155448508es-m-txt-l\" align=\"center\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:10px\">\n                <p style=\"Margin:0;font-size:13px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:18px;color:#4f4f42;margin-bottom:16px;text-align:center\">Welcome to the Jungle is a trading name of Otta Technology Ltd.<br>First Floor, Mindspace, 142-146 Old St, London EC1V 9BW</p>\n                \n                <p style=\"Margin:0;font-size:11px;font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;line-height:18px;color:#4f4f42;text-align:center\">\n                  <a href=\"https://email.welcometothejungle.com/settings/manage/candidate?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&amp;utm_campaign=new_job_notification&amp;utm_medium=email&amp;utm_source=email\" style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:11px;text-decoration:underline;color:#4f4f42\" target=\"_blank\">Manage email notifications</a><span style=\"font-size:11px\"> | </span>\n                  <a href=\"https://email.welcometothejungle.com/settings/unsubscribe/candidate/1?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&amp;utm_campaign=new_job_notification&amp;utm_medium=email&amp;utm_source=email\" style=\"font-family:arial,&#39;helvetica neue&#39;,helvetica,sans-serif;font-size:11px;text-decoration:underline;color:#4f4f42\" target=\"_blank\">Unsubscribe</a>\n                </p>\n                \n              </td>\n              </tr>\n            </tbody></table></td>\n          </tr>\n        </tbody></table></td>\n      </tr>\n    </tbody></table></td>\n  </tr>\n</tbody></table>\n\n          </td>\n        </tr>\n      </tbody></table>\n    </div>\n  <img alt=\"\" width=\"1\" height=\"1\" border=\"0\" style=\"height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important\"></div>\n\n</div></div></div>\n",
          "text": "[image: Welcome to the Jungle logo]\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4xIUmcf5G3EJtaFW4zoCMRSDEqt9BTCcgsx9QJ4jPT5PXYV21Rv0i2mx8cQav1uiyuuFYY8TTgtfNlL6BWMwEkuU1eteKHWbyIo5TpMrrgw_JPL_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMCLczuZl68MM6wlg4rqbsQdGGzWgyKBAwvjia-2FfhW-2F8Uj-2F-2FLwMqrR6TTnP-2BkY7OEs-2BdyQdc9wrwWa77bDp2c-2B9YsiJENoidOSbcvCBAv5qqU1SiHrmv08FZqxZun4kIMzJxGH4p3TkuVvucHMZVnwenaI77NqI5sbhTDqSm660ydugyLXtSS8QU3j0Bq5iyqyTZ5nBQcqZUpkklHuipuO6-2FHPj7rNqxg0cYN7HlpAoHcfKPBdKj8949yl6OvnBRRyzWm8Y0O3j2n99OlV6JEBEN>\nThere are new jobs matching your search preferences, Dave!\n[image: Circle logo]\n\n*Circle*\n\nCommunity platform for creators & brands\n\n* Senior Front-End Software Engineer (Design Systems) *\n\n* Salary: $130-140K Remote (within the UK) *\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfA8PyZwlc-2BG05C7LPfGz2cLAq8PGkUUC19iny79ZV8fke9Ew-2BCMgSc8lR3qXb7-2FsMsylHRNK2w49fyyJNOxxB-2Bb0N-2BoqZNWFECv6i3taqSkol4fLLf6Yd0vwPBoHjN7GwrUQV6neIWX-2B5or1PaajjPTQ-3D-3DyTzW_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD-2FPhL61ewteUnQBUyLscBqem-2B9n8-2Fch9d2x1nZXfJ0TOVFfAa5plf-2BCNNZDsgxXglXM5xQz8PEzZhJS1f0mDdfELii-2Bp9rHb32zJlMOnE0nyt8cF2CNSJO3ZnriqW-2Fw0M1AZ5UnGY9IKOImZ27bbs44051-2BHIY64UyFtjgVYT0HG61aR1lV-2FebQb1g8cZIOV2si6m6hLHXvFin3ZgD2lFU9A9jq0W5hSP5E-2BpjEGwWyQogN8KS8gEIFESYHWyVeHQtdPKcJDgbd6-2BdXLP7G-2FfL>\n[image: Preservica logo]\n\n*Preservica*\n\nWorld Leaders in Active Digital Preservation - archival solutions\n\n* Senior Front End Software Engineer *\n\n* Salary: £60-70K Remote (within the UK) *\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6vEAxVBpSI417LDqknywFkjBmU6tevPSuPAjI7bp08usM4r0AdbX81whtV46ucXlVcFjRg46ryYZLmbwesBsRa-2BggIrdIq9aUJt8krc17GO749VcMhcQgaF2E9-2Fo0GKyXkY25UxymMEK7ImXDNP-2BrsznXXMUCXDzszUFNFWOx1olotJ-2FcPbYNnpedNgfQ-2FH3EwqN2bxSDo73pfn-2F10X9dmVx8Au2-2FxNAg39uyTvn2Av3zY0vZ7iQT629Gme6xbCGWBGUpN6m4pD9ONra2Qul9e3fUphDdemiy7H-2B7XMlJ-2BekofULJiyDY0dQejFE9hOpa2iymZazGKVMtmCdnkGAXy6u4D1w-2Fk2AiMNjLcTRym8NlKG9TXLAA3WX0aefhNZN9x1TNGfpNuaB1EfPhxi-2FjeBVawDWxpNvXtDiNJmOZCEKbqGJFhUjtmOzI05P0FBZqnsDYL1WRsesBr4-2F4uFFyPsRxW-2BYMmj7ewSbJicOHYVQELuY3L82OxqjaHrM15wO71rhyG79Jkz4kLkFGBNtZtQOHg4aWXU15cBmp0pg15-2FFdu5uhpg3jEW-2FR-2Bh2eDz-2BhHLwXahbTc0As6JXwjydqV8iqCL7MUCxOTYFGrcmzho-2FA-3D-3DdaAZ_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMAjrQ-2F-2BTCJhuzZVzC9kQ84pwrq-2Fh1mFk8eDChBS5iSoVvfVdcNcK-2BJfIATLh6rTQFj7lyRrKZ4n7IMhUTfHyBlh46JzRT9G0ohi-2BqsEghNDYyY9IvKGMVNmlDdFdtB2ce8OP6aO8bXJiQTLSkU7cOig-2FHNX6VkMEe1De7RGIlb-2F7nK9PNpau40eJeC9x-2BI64t2u7nL8vSaRXBtPYL-2FbiuqdXgj9Cpe-2FsJUpJq2TvVrX9NTSrhTpkFjj0b0ce-2BeQWwSkj80QXIMNpN3QIiFsMYOr>\n[image: Typeform logo]\n\n*Typeform*\n\nPeople-friendly forms and surveys\n\n* Fullstack Engineer *\n* Remote (within the UK) *\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6teJGDqYzKRReVxzYJC26N90MtzNzrnAURwvC9nwQJ-2FpY7wK5NWNPq-2Bdw6FnrT8ae11XneywJn2KkFGy1dtHTlzQ0EX8MrjkcWOTNo8FBkDMMfyuCcrZjziPnbuJQ5SKeRhwc3HwDDj112shk1Tv3yNloU6e2vBrhVi3f48wfAXd3a5Oox4aJ7FgwW-2BK-2F8QLXFAouWcuSLIe3a99zOfXTxIvxAVDAuicaQUu6KiMzh5kbHNiz5WJauPAVuJKGdWEdf9LhTzSo-2BPnyeJPXHaUAIwxdWYdfFSMGbKzsGXkzGBlblrZqy9QFL8pcTywisvU3AgGOSDl5YgOz4euPXvEZZXGD88hOJ9SSXobo95qy6V1XANEIDMReM9Sv6pO0VfC-2FgybnN8-2B0eKKz3tENGb9eEnJCmHXsS0QKR3AkhqI1odB27-2F8aGtav32P-2Fgfx2swUfQHWuxwv-2B1ZYS1w3SOSwgcZaa15yf-2FNP-2FDfjx0K1AFLZzxlhIXDJifdsGeo7Ul4wMNCY8udXZOKKz-2FWXKzb4wXuyWOB7i1W-2FSQCHan6PVKkJjV-2Bk-2Bqp491uxYkpXjCr49ItUlh5nOxmQQn9Olvrh1T7x00qwOO-2FfqrXDd4TnX0VHA-3D-3Dqs4z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDuYK-2FNzy6Z8xIItiMT9ju4INi8zhsa0hEp0kZ-2FJ3NgJs1-2Fg0Nj8jhL9X7OXHKHoJNTaHNon-2BG0G8j2CvjIuzCeoc-2F0ON2gOnxKS9D8a32cQNGYOlMGGrSUMdMtYO9MliEZn2e4r1lkeLL0GZjmd1p8dENbNuPa-2BYh3mNdsu1dYeo1jZC6m-2FX7YmpQoG-2FIvf2ujDgj23OBPyh7wrxkBwLRA40us-2Fif4nB4-2FRuZsL5u5nzaibq2emG1YSsWUR5FtYKTeJbsCCIx9IflcbO0jWogz>\nSee all top matches\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfArg3Yx2Ha0t5g20ILAto7tjE-2F8hxojXR3ZCZ4XBBTM6g4ZYNz9QXk0tB67HB9wRPUe6GrazHQGQ1t7UqjNuLgBCz2GhfoqGk8LgxZz0lydx5B0ni-2B-2FVOioFL9PRKvguJLi7cI_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD1Vytj7Vi1-2B0x-2FVS5oqOAeqPUkx85UxArim5vVA7wmp-2B5lqH-2FAAL22YKdsrld0r7UWuJae2J3kIBoZARljdVFp1ftTl9uE5xS3-2Bo22YoZldzEcdi-2BXqngu8MEvk6lQhjdzbqTOIoRgmJZGr1Kc-2BDpo98Y9hrSH3IlqcksGXrW-2FlmiZ2WkLc2wW-2FwLsBLuEs1W-2B1-2Fdo7iPlsEgbXQ-2FLGIa1NDPjo25m-2FbMo1bbjjmjzXSZJgV5jKB5rOzxo1wmoxmN86952mM97Le51RR-2F7TIcd>\n\nReceive these notifications:\nNever\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgH7r3iR6b-2BoDZ0JlwqF3YX3k-2FMdtkpHhgw1p5JGNsy7jSD8Zd-2FwTOKN-2F-2FCuUPBYbbrm5GEybO6Ise-2FOjZqrKacUyobavPCAyCwHE9XMpnaDftO8z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMBRVmNpm6B2B8rCdvnsuX4XFt3uIilPIABwIwjohbcUGDTGXyB0Cl-2BxrXI3RTKuCjBaxkQ1YAWhJx7FvHnpJa4IYW0aouImT0nw5-2FHhxECEJrJ42SxXbtMiOAj24nW7PMTZZJyPgfM-2FPXDPj8NXJ3SHWoq64KF6p9YLOpPjzlewUsAYwW9C2qQNOfiWO4ff9HKsMpCygnkCxe-2BIuqrRyQlcqS9z0ugMlxNFO9EFFmgoG04dqWI3EvjaibITgYkwkJ-2F5w94IE9N8ZWpzgikf9vKo>\nWeekly\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgLzcarv24oBpdV2ujNBhjEJG68g17-2B4TtU6pgs4hL04FejGq9WqcUbSpLUE-2F84wvhddAjl18MbzaCV61mdANIMamwcSC4zYa-2FYVKeILpNCfK4Vze_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDpWSKiMg1qedqlnujqXv5egkzAs3Kszxpg-2FFCJk9m01xgnYPBLNYgoB85VTZZ3gwhjeT9Pu2-2Fv2RIg0ZzsyhS1FpcZDkuKO8C5VYxZMyGwjeTCqXqHOKX6EmjKAtwtYOVn-2BzmjRoi9MswAjY8zcc6-2BmOZVtFJL8SvSXvaa9Vh3tJ903EFyo1l9LUgxOkcmaS8sBxpw-2FNsZRmBm-2FfbHHXBo-2FyMpzlIypJjCmNPrTRTlDo28E6lR-2FdDM3CoULJM4lUeA3LYJm5AS7BBX4Mj3Us9y>\nDaily\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgPtHW5fsOeXo0uE-2BLzKRj-2BsQCgRg3wNUlJMAyliyX1HGfxiGf82LZFOgxHPSp-2FvGzZ6nVqX0X7vJAg-2BRwwBru8FxOVv0M67AlzU8TB6ccCsqFrfE_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMC8SQMTaW5jX8FIZtLcaYTtlV0s417ydpgp-2BIXuQCjUhGzIwPy5mMceA-2BfacC22s-2BVRFUsU9ICw2Ru3vo4aOfxtsTAKv5bt01mZqUSHiDjSLkiUZUH-2BbW2WMbz-2B8Vhzi-2BJQKmoUA2ZvYohgzWbJOo3pQETwYc7WLmhShQXI6Gp1M-2Bmvlp60sPNPzNMRiyGIS1ReI-2Bo-2FcYD-2Bxz-2FvK4ZnP0Uqp-2FhOZlVPnDFoqE72fuv5VHrMmrlvmLEgxqbkNG66TGkI-2FTAyGCG671-2BJJUSb0Cvo>\nChange email frequency\n<https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ0gNmZYHQcRmUO7GZJMDNFYob4FZurmEOR6ZtCzhwIsm51CL55GlMmeJgAfjI3XBiqgzTAe-2B-2B50wBmywI0-2B3nirWn3Hx2eo53BCkEqMdDz8JNeaH_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDIqMMWR1B2O8S1pRpouFYNMjjca-2BzST8tRkesaSmd0FRlxTnphYuskDErZijANF1ecH8Z-2BFY2T99TgkblWHfL4poU9LkEScVuwl9kMMDcDOwWf0xlCC6glZJ9gYjkjdIaJFMX-2FvyDbkIjnBEXegHkrHzPi-2F04OYWWej-2Fc2Dz45ICjmIl9e7PiGZPgMdLiTRyYh17zXuQT6AkYWJ6LWrS52fmUrX-2FS-2B0F0MFxsWmogQE0ZXJhxX4Xz40tIgp-2F0Rn1jVdFJ2EAJoiVs5lcSIJIsU>\n\nWelcome to the Jungle is a trading name of Otta Technology Ltd.\nFirst Floor, Mindspace, 142-146 Old St, London EC1V 9BW\n\nManage email notifications\n<https://email.welcometothejungle.com/settings/manage/candidate?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email>\n| Unsubscribe\n<https://email.welcometothejungle.com/settings/unsubscribe/candidate/1?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email>\n",
          "textAsHtml": "<p>[image: Welcome to the Jungle logo]<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4xIUmcf5G3EJtaFW4zoCMRSDEqt9BTCcgsx9QJ4jPT5PXYV21Rv0i2mx8cQav1uiyuuFYY8TTgtfNlL6BWMwEkuU1eteKHWbyIo5TpMrrgw_JPL_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMCLczuZl68MM6wlg4rqbsQdGGzWgyKBAwvjia-2FfhW-2F8Uj-2F-2FLwMqrR6TTnP-2BkY7OEs-2BdyQdc9wrwWa77bDp2c-2B9YsiJENoidOSbcvCBAv5qqU1SiHrmv08FZqxZun4kIMzJxGH4p3TkuVvucHMZVnwenaI77NqI5sbhTDqSm660ydugyLXtSS8QU3j0Bq5iyqyTZ5nBQcqZUpkklHuipuO6-2FHPj7rNqxg0cYN7HlpAoHcfKPBdKj8949yl6OvnBRRyzWm8Y0O3j2n99OlV6JEBEN\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4xIUmcf5G3EJtaFW4zoCMRSDEqt9BTCcgsx9QJ4jPT5PXYV21Rv0i2mx8cQav1uiyuuFYY8TTgtfNlL6BWMwEkuU1eteKHWbyIo5TpMrrgw_JPL_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMCLczuZl68MM6wlg4rqbsQdGGzWgyKBAwvjia-2FfhW-2F8Uj-2F-2FLwMqrR6TTnP-2BkY7OEs-2BdyQdc9wrwWa77bDp2c-2B9YsiJENoidOSbcvCBAv5qqU1SiHrmv08FZqxZun4kIMzJxGH4p3TkuVvucHMZVnwenaI77NqI5sbhTDqSm660ydugyLXtSS8QU3j0Bq5iyqyTZ5nBQcqZUpkklHuipuO6-2FHPj7rNqxg0cYN7HlpAoHcfKPBdKj8949yl6OvnBRRyzWm8Y0O3j2n99OlV6JEBEN</a>&gt;<br/>There are new jobs matching your search preferences, Dave!<br/>[image: Circle logo]</p><p>*Circle*</p><p>Community platform for creators &amp; brands</p><p>* Senior Front-End Software Engineer (Design Systems) *</p><p>* Salary: $130-140K Remote (within the UK) *<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfA8PyZwlc-2BG05C7LPfGz2cLAq8PGkUUC19iny79ZV8fke9Ew-2BCMgSc8lR3qXb7-2FsMsylHRNK2w49fyyJNOxxB-2Bb0N-2BoqZNWFECv6i3taqSkol4fLLf6Yd0vwPBoHjN7GwrUQV6neIWX-2B5or1PaajjPTQ-3D-3DyTzW_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD-2FPhL61ewteUnQBUyLscBqem-2B9n8-2Fch9d2x1nZXfJ0TOVFfAa5plf-2BCNNZDsgxXglXM5xQz8PEzZhJS1f0mDdfELii-2Bp9rHb32zJlMOnE0nyt8cF2CNSJO3ZnriqW-2Fw0M1AZ5UnGY9IKOImZ27bbs44051-2BHIY64UyFtjgVYT0HG61aR1lV-2FebQb1g8cZIOV2si6m6hLHXvFin3ZgD2lFU9A9jq0W5hSP5E-2BpjEGwWyQogN8KS8gEIFESYHWyVeHQtdPKcJDgbd6-2BdXLP7G-2FfL\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfA8PyZwlc-2BG05C7LPfGz2cLAq8PGkUUC19iny79ZV8fke9Ew-2BCMgSc8lR3qXb7-2FsMsylHRNK2w49fyyJNOxxB-2Bb0N-2BoqZNWFECv6i3taqSkol4fLLf6Yd0vwPBoHjN7GwrUQV6neIWX-2B5or1PaajjPTQ-3D-3DyTzW_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD-2FPhL61ewteUnQBUyLscBqem-2B9n8-2Fch9d2x1nZXfJ0TOVFfAa5plf-2BCNNZDsgxXglXM5xQz8PEzZhJS1f0mDdfELii-2Bp9rHb32zJlMOnE0nyt8cF2CNSJO3ZnriqW-2Fw0M1AZ5UnGY9IKOImZ27bbs44051-2BHIY64UyFtjgVYT0HG61aR1lV-2FebQb1g8cZIOV2si6m6hLHXvFin3ZgD2lFU9A9jq0W5hSP5E-2BpjEGwWyQogN8KS8gEIFESYHWyVeHQtdPKcJDgbd6-2BdXLP7G-2FfL</a>&gt;<br/>[image: Preservica logo]</p><p>*Preservica*</p><p>World Leaders in Active Digital Preservation - archival solutions</p><p>* Senior Front End Software Engineer *</p><p>* Salary: &pound;60-70K Remote (within the UK) *<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6vEAxVBpSI417LDqknywFkjBmU6tevPSuPAjI7bp08usM4r0AdbX81whtV46ucXlVcFjRg46ryYZLmbwesBsRa-2BggIrdIq9aUJt8krc17GO749VcMhcQgaF2E9-2Fo0GKyXkY25UxymMEK7ImXDNP-2BrsznXXMUCXDzszUFNFWOx1olotJ-2FcPbYNnpedNgfQ-2FH3EwqN2bxSDo73pfn-2F10X9dmVx8Au2-2FxNAg39uyTvn2Av3zY0vZ7iQT629Gme6xbCGWBGUpN6m4pD9ONra2Qul9e3fUphDdemiy7H-2B7XMlJ-2BekofULJiyDY0dQejFE9hOpa2iymZazGKVMtmCdnkGAXy6u4D1w-2Fk2AiMNjLcTRym8NlKG9TXLAA3WX0aefhNZN9x1TNGfpNuaB1EfPhxi-2FjeBVawDWxpNvXtDiNJmOZCEKbqGJFhUjtmOzI05P0FBZqnsDYL1WRsesBr4-2F4uFFyPsRxW-2BYMmj7ewSbJicOHYVQELuY3L82OxqjaHrM15wO71rhyG79Jkz4kLkFGBNtZtQOHg4aWXU15cBmp0pg15-2FFdu5uhpg3jEW-2FR-2Bh2eDz-2BhHLwXahbTc0As6JXwjydqV8iqCL7MUCxOTYFGrcmzho-2FA-3D-3DdaAZ_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMAjrQ-2F-2BTCJhuzZVzC9kQ84pwrq-2Fh1mFk8eDChBS5iSoVvfVdcNcK-2BJfIATLh6rTQFj7lyRrKZ4n7IMhUTfHyBlh46JzRT9G0ohi-2BqsEghNDYyY9IvKGMVNmlDdFdtB2ce8OP6aO8bXJiQTLSkU7cOig-2FHNX6VkMEe1De7RGIlb-2F7nK9PNpau40eJeC9x-2BI64t2u7nL8vSaRXBtPYL-2FbiuqdXgj9Cpe-2FsJUpJq2TvVrX9NTSrhTpkFjj0b0ce-2BeQWwSkj80QXIMNpN3QIiFsMYOr\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6vEAxVBpSI417LDqknywFkjBmU6tevPSuPAjI7bp08usM4r0AdbX81whtV46ucXlVcFjRg46ryYZLmbwesBsRa-2BggIrdIq9aUJt8krc17GO749VcMhcQgaF2E9-2Fo0GKyXkY25UxymMEK7ImXDNP-2BrsznXXMUCXDzszUFNFWOx1olotJ-2FcPbYNnpedNgfQ-2FH3EwqN2bxSDo73pfn-2F10X9dmVx8Au2-2FxNAg39uyTvn2Av3zY0vZ7iQT629Gme6xbCGWBGUpN6m4pD9ONra2Qul9e3fUphDdemiy7H-2B7XMlJ-2BekofULJiyDY0dQejFE9hOpa2iymZazGKVMtmCdnkGAXy6u4D1w-2Fk2AiMNjLcTRym8NlKG9TXLAA3WX0aefhNZN9x1TNGfpNuaB1EfPhxi-2FjeBVawDWxpNvXtDiNJmOZCEKbqGJFhUjtmOzI05P0FBZqnsDYL1WRsesBr4-2F4uFFyPsRxW-2BYMmj7ewSbJicOHYVQELuY3L82OxqjaHrM15wO71rhyG79Jkz4kLkFGBNtZtQOHg4aWXU15cBmp0pg15-2FFdu5uhpg3jEW-2FR-2Bh2eDz-2BhHLwXahbTc0As6JXwjydqV8iqCL7MUCxOTYFGrcmzho-2FA-3D-3DdaAZ_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMAjrQ-2F-2BTCJhuzZVzC9kQ84pwrq-2Fh1mFk8eDChBS5iSoVvfVdcNcK-2BJfIATLh6rTQFj7lyRrKZ4n7IMhUTfHyBlh46JzRT9G0ohi-2BqsEghNDYyY9IvKGMVNmlDdFdtB2ce8OP6aO8bXJiQTLSkU7cOig-2FHNX6VkMEe1De7RGIlb-2F7nK9PNpau40eJeC9x-2BI64t2u7nL8vSaRXBtPYL-2FbiuqdXgj9Cpe-2FsJUpJq2TvVrX9NTSrhTpkFjj0b0ce-2BeQWwSkj80QXIMNpN3QIiFsMYOr</a>&gt;<br/>[image: Typeform logo]</p><p>*Typeform*</p><p>People-friendly forms and surveys</p><p>* Fullstack Engineer *<br/>* Remote (within the UK) *<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6teJGDqYzKRReVxzYJC26N90MtzNzrnAURwvC9nwQJ-2FpY7wK5NWNPq-2Bdw6FnrT8ae11XneywJn2KkFGy1dtHTlzQ0EX8MrjkcWOTNo8FBkDMMfyuCcrZjziPnbuJQ5SKeRhwc3HwDDj112shk1Tv3yNloU6e2vBrhVi3f48wfAXd3a5Oox4aJ7FgwW-2BK-2F8QLXFAouWcuSLIe3a99zOfXTxIvxAVDAuicaQUu6KiMzh5kbHNiz5WJauPAVuJKGdWEdf9LhTzSo-2BPnyeJPXHaUAIwxdWYdfFSMGbKzsGXkzGBlblrZqy9QFL8pcTywisvU3AgGOSDl5YgOz4euPXvEZZXGD88hOJ9SSXobo95qy6V1XANEIDMReM9Sv6pO0VfC-2FgybnN8-2B0eKKz3tENGb9eEnJCmHXsS0QKR3AkhqI1odB27-2F8aGtav32P-2Fgfx2swUfQHWuxwv-2B1ZYS1w3SOSwgcZaa15yf-2FNP-2FDfjx0K1AFLZzxlhIXDJifdsGeo7Ul4wMNCY8udXZOKKz-2FWXKzb4wXuyWOB7i1W-2FSQCHan6PVKkJjV-2Bk-2Bqp491uxYkpXjCr49ItUlh5nOxmQQn9Olvrh1T7x00qwOO-2FfqrXDd4TnX0VHA-3D-3Dqs4z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDuYK-2FNzy6Z8xIItiMT9ju4INi8zhsa0hEp0kZ-2FJ3NgJs1-2Fg0Nj8jhL9X7OXHKHoJNTaHNon-2BG0G8j2CvjIuzCeoc-2F0ON2gOnxKS9D8a32cQNGYOlMGGrSUMdMtYO9MliEZn2e4r1lkeLL0GZjmd1p8dENbNuPa-2BYh3mNdsu1dYeo1jZC6m-2FX7YmpQoG-2FIvf2ujDgj23OBPyh7wrxkBwLRA40us-2Fif4nB4-2FRuZsL5u5nzaibq2emG1YSsWUR5FtYKTeJbsCCIx9IflcbO0jWogz\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6teJGDqYzKRReVxzYJC26N90MtzNzrnAURwvC9nwQJ-2FpY7wK5NWNPq-2Bdw6FnrT8ae11XneywJn2KkFGy1dtHTlzQ0EX8MrjkcWOTNo8FBkDMMfyuCcrZjziPnbuJQ5SKeRhwc3HwDDj112shk1Tv3yNloU6e2vBrhVi3f48wfAXd3a5Oox4aJ7FgwW-2BK-2F8QLXFAouWcuSLIe3a99zOfXTxIvxAVDAuicaQUu6KiMzh5kbHNiz5WJauPAVuJKGdWEdf9LhTzSo-2BPnyeJPXHaUAIwxdWYdfFSMGbKzsGXkzGBlblrZqy9QFL8pcTywisvU3AgGOSDl5YgOz4euPXvEZZXGD88hOJ9SSXobo95qy6V1XANEIDMReM9Sv6pO0VfC-2FgybnN8-2B0eKKz3tENGb9eEnJCmHXsS0QKR3AkhqI1odB27-2F8aGtav32P-2Fgfx2swUfQHWuxwv-2B1ZYS1w3SOSwgcZaa15yf-2FNP-2FDfjx0K1AFLZzxlhIXDJifdsGeo7Ul4wMNCY8udXZOKKz-2FWXKzb4wXuyWOB7i1W-2FSQCHan6PVKkJjV-2Bk-2Bqp491uxYkpXjCr49ItUlh5nOxmQQn9Olvrh1T7x00qwOO-2FfqrXDd4TnX0VHA-3D-3Dqs4z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDuYK-2FNzy6Z8xIItiMT9ju4INi8zhsa0hEp0kZ-2FJ3NgJs1-2Fg0Nj8jhL9X7OXHKHoJNTaHNon-2BG0G8j2CvjIuzCeoc-2F0ON2gOnxKS9D8a32cQNGYOlMGGrSUMdMtYO9MliEZn2e4r1lkeLL0GZjmd1p8dENbNuPa-2BYh3mNdsu1dYeo1jZC6m-2FX7YmpQoG-2FIvf2ujDgj23OBPyh7wrxkBwLRA40us-2Fif4nB4-2FRuZsL5u5nzaibq2emG1YSsWUR5FtYKTeJbsCCIx9IflcbO0jWogz</a>&gt;<br/>See all top matches<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfArg3Yx2Ha0t5g20ILAto7tjE-2F8hxojXR3ZCZ4XBBTM6g4ZYNz9QXk0tB67HB9wRPUe6GrazHQGQ1t7UqjNuLgBCz2GhfoqGk8LgxZz0lydx5B0ni-2B-2FVOioFL9PRKvguJLi7cI_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD1Vytj7Vi1-2B0x-2FVS5oqOAeqPUkx85UxArim5vVA7wmp-2B5lqH-2FAAL22YKdsrld0r7UWuJae2J3kIBoZARljdVFp1ftTl9uE5xS3-2Bo22YoZldzEcdi-2BXqngu8MEvk6lQhjdzbqTOIoRgmJZGr1Kc-2BDpo98Y9hrSH3IlqcksGXrW-2FlmiZ2WkLc2wW-2FwLsBLuEs1W-2B1-2Fdo7iPlsEgbXQ-2FLGIa1NDPjo25m-2FbMo1bbjjmjzXSZJgV5jKB5rOzxo1wmoxmN86952mM97Le51RR-2F7TIcd\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg4wnpQdelHsN-2B76WbOVLl6sW3M2S4hcvA4LdGtmUjMN-2Bmq4OgnzWlNyg5bfsEaVEmpaAxK5V13Fs-2BjEHQiK4DlgEKPWQQhEEt0o1T0xcYyCpLa-2BFni8rQP15IJ8zDoToSVmnNPQ-2Bw7SLyOKRFcOC61cdrubsyF8n25ZQvSe4EJhHGK4wej36C2gEfWghU-2FapDfDCSvuKNDSfBPwtfRDQZE2ig0jDfxHgMFl61crGNf6kMbWOGVlBtdX42VCz8OBx1Lkupj0385ja6tlyWx-2BSKCJfAyeAwm0Q82bTRhKmBhXxqlZD3sasmuguRnEEDE5yxNxoR-2FCGuP4gTwXi7F8KwBNMgdxSWLjgtFsIXTtFeT-2BnMVRXT6hgaacZ4ApZFQWYu6pIEy8B-2BAXdFaIVqP5s0nxe0MOvOus-2BwaHJXLtr0TNw6YrPQHwrVnp2gkOhAN7Yj75PdPSzaGezAQZhXlwwfU6NzGAjMqzN-2Fi-2FXiOo-2FpAfArg3Yx2Ha0t5g20ILAto7tjE-2F8hxojXR3ZCZ4XBBTM6g4ZYNz9QXk0tB67HB9wRPUe6GrazHQGQ1t7UqjNuLgBCz2GhfoqGk8LgxZz0lydx5B0ni-2B-2FVOioFL9PRKvguJLi7cI_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMD1Vytj7Vi1-2B0x-2FVS5oqOAeqPUkx85UxArim5vVA7wmp-2B5lqH-2FAAL22YKdsrld0r7UWuJae2J3kIBoZARljdVFp1ftTl9uE5xS3-2Bo22YoZldzEcdi-2BXqngu8MEvk6lQhjdzbqTOIoRgmJZGr1Kc-2BDpo98Y9hrSH3IlqcksGXrW-2FlmiZ2WkLc2wW-2FwLsBLuEs1W-2B1-2Fdo7iPlsEgbXQ-2FLGIa1NDPjo25m-2FbMo1bbjjmjzXSZJgV5jKB5rOzxo1wmoxmN86952mM97Le51RR-2F7TIcd</a>&gt;</p><p>Receive these notifications:<br/>Never<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgH7r3iR6b-2BoDZ0JlwqF3YX3k-2FMdtkpHhgw1p5JGNsy7jSD8Zd-2FwTOKN-2F-2FCuUPBYbbrm5GEybO6Ise-2FOjZqrKacUyobavPCAyCwHE9XMpnaDftO8z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMBRVmNpm6B2B8rCdvnsuX4XFt3uIilPIABwIwjohbcUGDTGXyB0Cl-2BxrXI3RTKuCjBaxkQ1YAWhJx7FvHnpJa4IYW0aouImT0nw5-2FHhxECEJrJ42SxXbtMiOAj24nW7PMTZZJyPgfM-2FPXDPj8NXJ3SHWoq64KF6p9YLOpPjzlewUsAYwW9C2qQNOfiWO4ff9HKsMpCygnkCxe-2BIuqrRyQlcqS9z0ugMlxNFO9EFFmgoG04dqWI3EvjaibITgYkwkJ-2F5w94IE9N8ZWpzgikf9vKo\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgH7r3iR6b-2BoDZ0JlwqF3YX3k-2FMdtkpHhgw1p5JGNsy7jSD8Zd-2FwTOKN-2F-2FCuUPBYbbrm5GEybO6Ise-2FOjZqrKacUyobavPCAyCwHE9XMpnaDftO8z_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMBRVmNpm6B2B8rCdvnsuX4XFt3uIilPIABwIwjohbcUGDTGXyB0Cl-2BxrXI3RTKuCjBaxkQ1YAWhJx7FvHnpJa4IYW0aouImT0nw5-2FHhxECEJrJ42SxXbtMiOAj24nW7PMTZZJyPgfM-2FPXDPj8NXJ3SHWoq64KF6p9YLOpPjzlewUsAYwW9C2qQNOfiWO4ff9HKsMpCygnkCxe-2BIuqrRyQlcqS9z0ugMlxNFO9EFFmgoG04dqWI3EvjaibITgYkwkJ-2F5w94IE9N8ZWpzgikf9vKo</a>&gt;<br/>Weekly<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgLzcarv24oBpdV2ujNBhjEJG68g17-2B4TtU6pgs4hL04FejGq9WqcUbSpLUE-2F84wvhddAjl18MbzaCV61mdANIMamwcSC4zYa-2FYVKeILpNCfK4Vze_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDpWSKiMg1qedqlnujqXv5egkzAs3Kszxpg-2FFCJk9m01xgnYPBLNYgoB85VTZZ3gwhjeT9Pu2-2Fv2RIg0ZzsyhS1FpcZDkuKO8C5VYxZMyGwjeTCqXqHOKX6EmjKAtwtYOVn-2BzmjRoi9MswAjY8zcc6-2BmOZVtFJL8SvSXvaa9Vh3tJ903EFyo1l9LUgxOkcmaS8sBxpw-2FNsZRmBm-2FfbHHXBo-2FyMpzlIypJjCmNPrTRTlDo28E6lR-2FdDM3CoULJM4lUeA3LYJm5AS7BBX4Mj3Us9y\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgLzcarv24oBpdV2ujNBhjEJG68g17-2B4TtU6pgs4hL04FejGq9WqcUbSpLUE-2F84wvhddAjl18MbzaCV61mdANIMamwcSC4zYa-2FYVKeILpNCfK4Vze_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDpWSKiMg1qedqlnujqXv5egkzAs3Kszxpg-2FFCJk9m01xgnYPBLNYgoB85VTZZ3gwhjeT9Pu2-2Fv2RIg0ZzsyhS1FpcZDkuKO8C5VYxZMyGwjeTCqXqHOKX6EmjKAtwtYOVn-2BzmjRoi9MswAjY8zcc6-2BmOZVtFJL8SvSXvaa9Vh3tJ903EFyo1l9LUgxOkcmaS8sBxpw-2FNsZRmBm-2FfbHHXBo-2FyMpzlIypJjCmNPrTRTlDo28E6lR-2FdDM3CoULJM4lUeA3LYJm5AS7BBX4Mj3Us9y</a>&gt;<br/>Daily<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgPtHW5fsOeXo0uE-2BLzKRj-2BsQCgRg3wNUlJMAyliyX1HGfxiGf82LZFOgxHPSp-2FvGzZ6nVqX0X7vJAg-2BRwwBru8FxOVv0M67AlzU8TB6ccCsqFrfE_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMC8SQMTaW5jX8FIZtLcaYTtlV0s417ydpgp-2BIXuQCjUhGzIwPy5mMceA-2BfacC22s-2BVRFUsU9ICw2Ru3vo4aOfxtsTAKv5bt01mZqUSHiDjSLkiUZUH-2BbW2WMbz-2B8Vhzi-2BJQKmoUA2ZvYohgzWbJOo3pQETwYc7WLmhShQXI6Gp1M-2Bmvlp60sPNPzNMRiyGIS1ReI-2Bo-2FcYD-2Bxz-2FvK4ZnP0Uqp-2FhOZlVPnDFoqE72fuv5VHrMmrlvmLEgxqbkNG66TGkI-2FTAyGCG671-2BJJUSb0Cvo\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ-2F822lKnvyE-2F79CqIgNLoVnPHpTgF1Q-2B7AJl7YeNRaTWpHSm41JoAqDKC0Q-2Bi138CPyiy-2BbJbHlDYX5f4kjpjrukUOjSOv-2BmBiqlcwzAgZJOtc4kyuBZsxgSjGSqf7MCyYlLO3PNgjJOJ0u3WYUdIWWOajSFGK-2FTinVxRFLCT660yFHTK7EaAg9XG-2B63SbM7JRQfpaDnvYsAn65ARQKi1RCdWHkEgy-2FKKRnIeCGS6cJV8Id-2BfBVp8EX2VKor7ZhMIWKMdZnrdBFlCqSpo-2BdPE-2Bfk-2BpUPACxR5ZbCrEemfYPJ58mNx0A5na9dxOMkhIKgM6G8KGoq-2FjRSSQFWBWXGWjgQnDuUW4Wcxtpz82tQYdeNmtjFvrVmwoJYlYjh8-2B1siuW78uD4IVT5jK5papQIXIPGvUN07Mz8adLyzH-2F5OJvQisGT0KOfwYaEXVSZ4u3Qh1IUFM8DLDOQykrfk9xgkyF2iEy1rkBCE7Bynxc80BkuwGpITwWZMIj7dwwKR9MTgPtHW5fsOeXo0uE-2BLzKRj-2BsQCgRg3wNUlJMAyliyX1HGfxiGf82LZFOgxHPSp-2FvGzZ6nVqX0X7vJAg-2BRwwBru8FxOVv0M67AlzU8TB6ccCsqFrfE_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMC8SQMTaW5jX8FIZtLcaYTtlV0s417ydpgp-2BIXuQCjUhGzIwPy5mMceA-2BfacC22s-2BVRFUsU9ICw2Ru3vo4aOfxtsTAKv5bt01mZqUSHiDjSLkiUZUH-2BbW2WMbz-2B8Vhzi-2BJQKmoUA2ZvYohgzWbJOo3pQETwYc7WLmhShQXI6Gp1M-2Bmvlp60sPNPzNMRiyGIS1ReI-2Bo-2FcYD-2Bxz-2FvK4ZnP0Uqp-2FhOZlVPnDFoqE72fuv5VHrMmrlvmLEgxqbkNG66TGkI-2FTAyGCG671-2BJJUSb0Cvo</a>&gt;<br/>Change email frequency<br/>&lt;<a href=\"https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ0gNmZYHQcRmUO7GZJMDNFYob4FZurmEOR6ZtCzhwIsm51CL55GlMmeJgAfjI3XBiqgzTAe-2B-2B50wBmywI0-2B3nirWn3Hx2eo53BCkEqMdDz8JNeaH_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDIqMMWR1B2O8S1pRpouFYNMjjca-2BzST8tRkesaSmd0FRlxTnphYuskDErZijANF1ecH8Z-2BFY2T99TgkblWHfL4poU9LkEScVuwl9kMMDcDOwWf0xlCC6glZJ9gYjkjdIaJFMX-2FvyDbkIjnBEXegHkrHzPi-2F04OYWWej-2Fc2Dz45ICjmIl9e7PiGZPgMdLiTRyYh17zXuQT6AkYWJ6LWrS52fmUrX-2FS-2B0F0MFxsWmogQE0ZXJhxX4Xz40tIgp-2F0Rn1jVdFJ2EAJoiVs5lcSIJIsU\">https://u9255466.ct.sendgrid.net/ls/click?upn=u001.vinfit7V4Y5zoxBeRCELg0-2BxIWytdcUE2evnXIyP5OK4ZjI7-2Bw-2BmtiaftnZ4DZs7TKsAQfsR3EvE0BZLyYucZ0gNmZYHQcRmUO7GZJMDNFYob4FZurmEOR6ZtCzhwIsm51CL55GlMmeJgAfjI3XBiqgzTAe-2B-2B50wBmywI0-2B3nirWn3Hx2eo53BCkEqMdDz8JNeaH_sX3LguN4lawj2Y0ymWYsBa9fkJzLZWrd7BNCndwwMX-2FXg-2BAHcoJn6Un0s-2F4Bv7BxNX5dh6G3FHtqyHcj7AkFeie-2BFsjd-2BVK94dD9B6cAsMDIqMMWR1B2O8S1pRpouFYNMjjca-2BzST8tRkesaSmd0FRlxTnphYuskDErZijANF1ecH8Z-2BFY2T99TgkblWHfL4poU9LkEScVuwl9kMMDcDOwWf0xlCC6glZJ9gYjkjdIaJFMX-2FvyDbkIjnBEXegHkrHzPi-2F04OYWWej-2Fc2Dz45ICjmIl9e7PiGZPgMdLiTRyYh17zXuQT6AkYWJ6LWrS52fmUrX-2FS-2B0F0MFxsWmogQE0ZXJhxX4Xz40tIgp-2F0Rn1jVdFJ2EAJoiVs5lcSIJIsU</a>&gt;</p><p>Welcome to the Jungle is a trading name of Otta Technology Ltd.<br/>First Floor, Mindspace, 142-146 Old St, London EC1V 9BW</p><p>Manage email notifications<br/>&lt;<a href=\"https://email.welcometothejungle.com/settings/manage/candidate?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email\">https://email.welcometothejungle.com/settings/manage/candidate?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email</a>&gt;<br/>| Unsubscribe<br/>&lt;<a href=\"https://email.welcometothejungle.com/settings/unsubscribe/candidate/1?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email\">https://email.welcometothejungle.com/settings/unsubscribe/candidate/1?token=SFMyNTY.g2gDdAAAAAF3B3VzZXJfaWRiACXvs24GAMX6cpWZAXcIaW5maW5pdHk.yfn2kD1ev58U3DwaUOMZVWffvGUHo9FOORlfA2cEG3A&utm_campaign=new_job_notification&utm_medium=email&utm_source=email</a>&gt;</p>",
          "subject": "Fwd: New match: Senior Front-End Software Engineer at Circle",
          "references": "<k4__fCiFQlWz2oEQlr5OIA@geopod-ismtpd-6>",
          "date": "2025-10-07T10:58:46.000Z",
          "to": {
            "value": [
              {
                "address": "aspiretechslns@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:aspiretechslns@gmail.com\" class=\"mp_address_email\">aspiretechslns@gmail.com</a></span>",
            "text": "aspiretechslns@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "dj_pedley@hotmail.com",
                "name": "David Pedley"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">David Pedley</span> &lt;<a href=\"mailto:dj_pedley@hotmail.com\" class=\"mp_address_email\">dj_pedley@hotmail.com</a>&gt;</span>",
            "text": "\"David Pedley\" <dj_pedley@hotmail.com>"
          },
          "messageId": "<CAFBfRuKGt13Xp-QvOf1ZYhFQ6mh+qqSSjFjT2x4xB9dypT2nWA@mail.gmail.com>",
          "inReplyTo": "<k4__fCiFQlWz2oEQlr5OIA@geopod-ismtpd-6>"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get all labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove message from inbox": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a missing label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "261662f0-5215-4eee-8daa-fcbf042ad267",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc4f08e7f8552bda6e78de5bf5078e390542f531ede98aab2f57ef19f472103e"
  },
  "id": "ttbf5GmDrPjRptd3",
  "tags": []
}